@font-face {
  font-family: "Formula1";
  src: url("../fonts/formula1-regular_web_0-webfont.woff2") format("woff2"),
       url("../fonts/formula1-regular_web_0-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Formula1";
  src: url("../fonts/formula1-bold_web_0-webfont.woff2") format("woff2"),
       url("../fonts/formula1-bold_web_0-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body{

}

.carrito-footer{
    display: flex;
    align-items: center;
}

.carrito-footer p{
    margin-right: 500px;
    margin-left: 20px;
}

.cart-img{
    width: 70px;
    height: auto;
}

.cart-list li{
    display: flex;
    align-items: center;
}
