@font-face {
  font-family: "Formula1";
  src: url("../fonts/formula1-regular_web_0-webfont.woff2") format("woff2"),
       url("../fonts/formula1-regular_web_0-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Formula1";
  src: url("../fonts/formula1-bold_web_0-webfont.woff2") format("woff2"),
       url("../fonts/formula1-bold_web_0-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ================= VARIABLES ================= */
:root{
    --gris-boton: #242524;
    --rojo-formula: rgb(238, 53, 49);
    --negro-carbon: #131019;
}

/* ================= HEADER ================= */
header{
  display: flex;
  justify-content: center;
  width: 100vw;
}

#header-img{
  margin-top: 25px;
}

#header-img:hover{
  cursor: pointer;
}

/* ================= BODY ================= */
body{

}

.title{
  font-family: "Formula1";
  font-size: 40px;
  margin-left: 25px;
}

main{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* ================= CART ASIDE ================= */
.cart-aside{
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 34px;
  margin-top: 95.8px;
  align-self: flex-start;
}

.cart-aside h2{
  font-family: "Formula1";
  color: var(--negro-carbon);
  font-size: 40px; 
  margin-top: 0;
}

.ticket-button{
    border-style: solid;
    color: white;
    font-family: "Formula1"; 
    background-color: var(--gris-boton);
    padding: 10px;
    border: none;
    margin-bottom: 20px;
}

.ticket-button:hover{
    cursor: pointer;
    background-color: #247f0c;
}

.empty-button{
  border-style: solid;
    color: white;
    font-family: "Formula1"; 
    background-color: var(--gris-boton);
    padding: 10px;
    border: none;
    margin-bottom: 20px;
}

.empty-button:hover{
  cursor: pointer;
    background-color: var(--rojo-formula);
}
/* ================= PRODUCTOS ================= */
#carrito-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-list{
  width: 96%;
}

.cart-list-item{
  margin: 20px;
  padding: 34px;
  /* border: solid 5px var(--rojo-formula); */
  border-radius: 8px;
  width: 70%;

  font-family: "Formula1";
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  display: flex;
  justify-content: space-between;
}

.cart-img{
    width: 200px;
    height: auto;
    margin-right: 20px;
}

.cart-product-info{
  display: flex;
  flex-direction: column;
}

.cart-list li{
    display: flex;
    align-items: center;
}

.cart-controllers{
  display: flex;
}

.cart-button{
    border-radius: 50%;
    /*margin-right: 15px;*/
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 10px;
    border-style: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;


}

.cart-button:hover{
    cursor: pointer;
    background-color: var(--rojo-formula);
    color: white;
}
