.carrito-footer{
    display: flex;
    align-items: center;
}

.carrito-footer p{
    margin-right: 500px;
    margin-left: 20px;
}

.cart-img{
    width: 70px;
    height: auto;
}

.cart-list li{
    display: flex;
    align-items: center;
}
