/* ================= VARIABLES ================= */
:root{
    --gris-boton: #242524;
}




/* ================= HEADER ================= */
header{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 20px;
}

nav{
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}

nav ul li{
    list-style: none;
    margin-right: 15px;
    
}

nav ul a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-decoration: none;
    color: black;
    text-align: center;
}

nav ul a:hover{
    color: red;
}

.barra-busqueda{
    border-radius: 15px;
}


/* ================= MAIN / FORM ================= */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

main h1{
    font-size: 55px;
}

.contenedor-productos{
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-productos ul li{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
}

.contenedor-productos ul{
    padding-left: 0;
}

.contenedor-productos img{
    width: 250px;
    height: auto;
}

.products-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-form label, .submit-button{
    padding: 5%;
}

.products-form label{
    font-size: larger;
}

.submit-button{
    border-style: solid;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    background-color: var(--gris-boton);
    margin-top: 5%;
}