/* ================= MAIN ================= */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

main h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ================= FORM ================= */
.login-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.login-form{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form label{
    margin-top: 8%;
}