@font-face {
  font-family: "Formula1";
  src: url("../fonts/formula1-regular_web_0-webfont.woff2") format("woff2"),
       url("../fonts/formula1-regular_web_0-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* ================= VARIABLES ================= */
:root{
    --gris-boton: #242524;
    --rojo-formula: #ee3531;
    --negro-carbon: #131019;
}


/* ================= TOP BAR ================= */
.contenedor-nombre p{
    margin-bottom: 0;
    margin-top: 0;
    display: inline-block;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



/* ================= HEADER ================= */
header{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 20px;
    position: relative;
}

#header-img{
    cursor: pointer;
}

.barra-busqueda{
    border-radius: 15px;
    text-align: center;
    border-style: solid;
}

.header-cart-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 313px;
}

.header-cart-icon{
    width: 30px;
    height: auto;
    cursor: pointer;
    margin-right: 5px;
}

.contador-carrito{
    color: white;
    background-color: white;
    border-radius: 50%;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
}



/* ================= FILTROS ================= */
.filtros{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.filter-button{
    border-radius: 5px;
    border-style: none;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.filter-button:hover{
    background-color: black;
    color: white;
}



/* ================= CARRUSEL EQUIPOS ================= */
.filtro-equipos-contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
}

.filtro-equipos-carrusel{
    width: 38%;
}

.filtro-equipos-carrusel ul{
    display: flex;
    justify-content: space-evenly;
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.filtro-equipos-carrusel ul li{
    list-style: none;
    padding: 5px;
}

.filtro-equipos-carrusel ul li .carrusel-equipos-icon{
    width: 35px;
    height: auto;
}

.filtro-equipos-carrusel ul li .carrusel-equipos-icon:hover{
    cursor: pointer;
}

/* ================= CATALOGO ================= */
.catalogo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 0.5%;
    width: 260px;
    border-radius: 3px;
    margin: 1%;
    box-shadow: 0px 0px 4px grey;

    font-family: "Formula1";
    font-size: small;
    font-weight: 50;
}

.card-producto img{
    width: 250px;
    height: auto;
}

.card-producto h5{
    font-size: large;
    word-wrap: break-word; /* Esto solo sirve si el contenedor tiene un ancho definido */
    margin-bottom: 10px;
    font-family: "Formula1";
    font-size: 15px;
    font-weight: 50;
}

.product-data-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.product-data-container p{
    font-size: larger;
    margin: 0;
    display: inline-block;
}

.cart-controllers{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-controllers-buttons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.cart-controllers-buttons button{
    border-radius: 50%;
    /*margin-right: 15px;*/
    width: 30px;
    height: 30px;
    padding: 0;
    border-style: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.cart-controllers-buttons button:hover{
    cursor: pointer;
    background-color: var(--rojo-formula);
    color: white;
}
