/* ================= HEADER ================= */
header{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 20px;
}

nav{
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}

nav ul li{
    list-style: none;
    margin-right: 15px;
    
}

nav ul a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-decoration: none;
    color: black;
    text-align: center;
}

nav ul a:hover{
    color: red;
}

.barra-busqueda{
    border-radius: 15px;
}


/* ================= CATALOGO ================= */

.catalogo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-producto{
    padding: 0.5%;
    width: 260px;
    border: solid 2px;
    border-radius: 3px;
    margin: 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-producto h5{
    font-size: large;
    word-wrap: break-word; /* Esto solo sirve si el contenedor tiene un ancho definido */
    margin-bottom: 5px;
}

.card-producto p{
    font-size: larger;
    margin: 0;
}

.card-producto img{
    width: 250px;
    height: auto;
}