/* generales? */
/* ================= TOP BAR ================= */
.contenedor-nombre p{
    margin-bottom: 0;
    margin-top: 0;
    display: inline-block;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ================= HEADER ================= */
header{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 20px;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

nav ul li{
    list-style: none;
    padding: 5px;
    
}

nav ul a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-decoration: none;
    color: black;
    text-align: center;
}

nav ul a:hover{
    color: red;
}

.barra-busqueda{
    border-radius: 15px;
    text-align: center;
    border-style: solid;
}

#header-img{
    cursor: pointer;
}

/* ================= CARRUSEL EQUIPOS ================= */
.filtro-equipos-contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
}

.filtro-equipos-carrusel{
    width: 38%;
}

.filtro-equipos-carrusel ul{
    display: flex;
    justify-content: space-evenly;
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.filtro-equipos-carrusel ul li{
    list-style: none;
    padding: 5px;
}

.filtro-equipos-carrusel ul li .carrusel-equipos-icon{
    width: 35px;
    height: auto;
}

.filtro-equipos-carrusel ul li .carrusel-equipos-icon:hover{
    cursor: pointer;
}

/* ================= CATALOGO ================= */

.catalogo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-producto{
    padding: 0.5%;
    width: 260px;
    box-shadow: 0px 0px 4px grey;
    /* border: solid 2px; */
    border-radius: 3px;
    margin: 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-producto h5{
    font-size: large;
    word-wrap: break-word; /* Esto solo sirve si el contenedor tiene un ancho definido */
    margin-bottom: 5px;
}

.product-data-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-producto p{
    font-size: larger;
    margin: 0;
    display: inline-block;
}

.card-producto img{
    width: 250px;
    height: auto;
}

.cart-img-container{
    display: inline-block;
}

.cart-img-container img{
    width: 50px;
    height: auto;
}

.cart-img-container img:hover{
    cursor: pointer;
}